In [12]:
# initialization

from alpha_vantage.timeseries import TimeSeries
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
from dotenv import load_dotenv
import os

# load variables from .env
load_dotenv()

api_key = os.getenv("ALPHA_VANTAGE_API_KEY")

ts = TimeSeries(key = api_key, output_format = 'pandas')

In [ ]:
# # yfinance input 

# tickers = ["^GSPC", "IEF", "GLD"]
# start_date = "2018-01-01"
# end_date = "2025-01-01"

# data = yf.download(tickers, start = start_date, end = end_date)["Adj Close"]
# data.columns = ["S&P 500", "Treasury Bonds", "Gold"]
# data.head(10)

In [ ]:
# Retrieve SPY dataframe
data, meta_data = ts.get_daily(symbol = "SPY", outputsize = "full")

# Rename columns and ensure index is the Date
data.columns = ["Open", "High", "Low", "Close", "Volume"]
data.index = pd.to_datetime(data.index)

data.head(10)

              Open      High       Low   Close      Volume
date
2025-07-11  622.74  624.8600  621.5300  623.62  63670226.0
2025-07-10  624.20  626.8701  623.0100  625.82  57528960.0
2025-07-09  622.77  624.7200  620.9105  624.06  66113326.0
2025-07-08  621.35  622.1100  619.5200  620.34  59024585.0
2025-07-07  623.36  624.0300  617.8700  620.68  74814505.0
2025-07-03  622.45  626.2800  622.4300  625.34  51065789.0
2025-07-02  617.24  620.4900  616.6100  620.45  66510374.0
2025-07-01  616.36  618.8300  615.5200  617.65  70030140.0
2025-06-30  617.38  619.2200  615.0400  617.85  92502541.0
2025-06-27  612.88  616.3900  610.8300  614.91  86258398.0