In [12]:
# initialization

from alpha_vantage.timeseries import TimeSeries
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
from dotenv import load_dotenv
import os

# load variables from .env
load_dotenv()

api_key = os.getenv("ALPHA_VANTAGE_API_KEY")

ts = TimeSeries(key = api_key, output_format = 'pandas')

In [ ]:
# # yfinance input 

# tickers = ["^GSPC", "IEF", "GLD"]
# start_date = "2018-01-01"
# end_date = "2025-01-01"

# data = yf.download(tickers, start = start_date, end = end_date)["Adj Close"]
# data.columns = ["S&P 500", "Treasury Bonds", "Gold"]
# data.head(10)

In [18]:
# Retrieve SPY dataframe
data, meta_data = ts.get_daily(symbol = "SPY", outputsize = "full")

# Rename columns and ensure index is the Date
data.columns = ["Open", "High", "Low", "Close", "Volume"]
data.index = pd.to_datetime(data.index)

data.head(10)

              Open      High       Low   Close      Volume
date
2025-07-18  629.30  629.4700  626.4600  627.58  65621645.0
2025-07-17  624.40  628.4048  624.1800  628.04  68885683.0
2025-07-16  623.74  624.7300  618.0500  624.22  88987511.0
2025-07-15  627.52  627.8600  622.0600  622.14  74317260.0
2025-07-14  623.16  625.1581  621.7999  624.81  51898518.0
2025-07-11  622.74  624.8600  621.5300  623.62  63670226.0
2025-07-10  624.20  626.8701  623.0100  625.82  57528960.0
2025-07-09  622.77  624.7200  620.9105  624.06  66113326.0
2025-07-08  621.35  622.1100  619.5200  620.34  59024585.0
2025-07-07  623.36  624.0300  617.8700  620.68  74814505.0

In [20]:
# Sort dataframe 
data.sort_index(inplace = True)

# Date range
start_date = "2018-01-01"
end_date = "2025-01-01"

# Filter dataframe by date
filtered_data = data.loc[start_date:end_date]

# Check for missing values
filtered_data.isnull().sum()

filtered_data

               Open      High       Low   Close      Volume
date
2018-01-02  267.840  268.8100  267.4000  268.77  86655749.0
2018-01-03  268.960  270.6400  268.9600  270.47  90070416.0
2018-01-04  271.200  272.1600  270.5400  271.61  80636408.0
2018-01-05  272.510  273.5600  271.9500  273.42  83523995.0
2018-01-08  273.310  274.1000  272.9800  273.92  57319192.0
...             ...       ...       ...     ...         ...
2024-12-24  596.060  601.3400  595.4700  601.30  33160097.0
2024-12-26  599.500  602.4800  598.0825  601.34  41338891.0
2024-12-27  597.540  597.7761  590.7647  595.01  64969310.0
2024-12-30  587.890  591.7400  584.4100  588.22  56578757.0
2024-12-31  589.905  590.6399  584.4200  586.08  57052654.0

[1761 rows x 5 columns]

In [ ]:
# Pct change of daily close prices
daily_returns = filtered_data["Close"].pct_change().dropna()

daily_returns.tail()

date
2024-12-24    0.011115
2024-12-26    0.000067
2024-12-27   -0.010526
2024-12-30   -0.011412
2024-12-31   -0.003638
Name: Close, dtype: float64

In [31]:


# Modifying a slice of the dataframe to show 50 day moving average.

# filtered_data = filtered_data.copy()
# filtered_data["SMA_50"] = filtered_data["Close"].rolling(window = 50).mean()

filtered_data.loc[:, "SMA_50"] = filtered_data["Close"].rolling(window = 50).mean()

filtered_data.head()

              Open    High     Low   Close      Volume  SMA_50
date
2018-01-02  267.84  268.81  267.40  268.77  86655749.0     NaN
2018-01-03  268.96  270.64  268.96  270.47  90070416.0     NaN
2018-01-04  271.20  272.16  270.54  271.61  80636408.0     NaN
2018-01-05  272.51  273.56  271.95  273.42  83523995.0     NaN
2018-01-08  273.31  274.10  272.98  273.92  57319192.0     NaN